@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
.exhd {
  color: #ff5151;
  width: 100%;
  text-align: center;
  font-family: "Work Sans";
  font-weight: 900;
  background-color: #eeeded;
}
